In [34]:
import ipywidgets as widgets
from ipywidgets import interact,interactive
import pandas as pd

In [26]:
from IPython.display import display

In [27]:
df = pd.read_csv("Company.csv")

In [28]:
df

  EmployeeId        Name WorkLocation  Salary  Age        DOJ Designation
0      A1001   A1001Name           HK   10000   30  2/10/2008   Developer
1      A1002   A1002Name           UK   20000   20  2/10/2098   Developer
2      A1003   A1003Name           HK   30000   30  2/10/2008     Manager
3      A1004   A1004Name          IND   10000   32  2/10/2010   Developer
4      A1005   A1005Name          IND   20000   28   2/2/2008     Manager
5      A1006   A1006Name           UK   30000   30  2/10/2008   Developer
6      A1007   A1007Name          IND   40000   40  15/2/2008     Manager
7      A1008   A1008Name           HK   50000   50  2/10/2017     Manager
8      A1009   A1009Name           UK   45000   45  2/10/2017   Developer
9      A1010  A10010Name           UK   50000   50  2/10/2017   Developer

In [29]:
items = ["All"] + sorted(df['WorkLocation'].unique().tolist())

In [30]:
items

['All', 'HK', 'IND', 'UK']

In [31]:
def view(x=''):
    if x=='All': return df
    return df[df["WorkLocation"]==x]

In [38]:
w = widgets.Select(options=items)
x = interact(view,x=w)

interactive(children=(Select(description='x', options=('All', 'HK', 'IND', 'UK'), value='All'), Output()), _do…

In [37]:
display(x)

interactive(children=(Select(description='x', options=('All', 'HK', 'IND', 'UK'), value='All'), Output()), _do…